#stats-main-container{
    margin:10%;
}

.stats-section{
    margin-top: 5%;
}

.stats-title{
    font-weight: bold;
    background-color: white;
    border-radius: 2px;
    padding: 2%;
    box-shadow: 1px 1px 5px 1px #ccc;
}
